{{!-- <div>
    <h1>Recupero de Contrase単a</h1>
    <form id="recuperoForm">
        <label>Nueva contrase単a</label>
        <input name="passwordNueva">
        <br />
        <label>Confirme su contrase単a</label>
        <input name="passwordConfirmacion">
        <br />

        <input type="submit">
    </form>
</div> --}}

<section class="vh-100 gradient-custom">
      <div class="container py-5 h-100">
        <form action="" id="recuperoForm">

          <div
            class="row d-flex justify-content-center align-items-center h-100"
          >
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
              <div class="card bg-dark text-white" style="border-radius: 1rem;">
                <div class="card-body p-5 text-center shadow-lg">

                  <div class="mb-md-5 mt-md-4 pb-5">

                    <h1 class="fw-bold mb-5 text-uppercase">reestablecer contrase単a</h1>
                    <div class="form-outline form-white mb-5">
                      <input
                        id="typeEmailX"
                        class="form-control form-control-lg"
                        name="passwordNueva" placeholder="Ingresa tu nueva clave"
                      />
                    </div>

                    <div class="form-outline form-white mb-5">
                      <input
                        id="typeEmailX"
                        class="form-control form-control-lg"
                        name="passwordConfirmacion" placeholder="confirma tu nueva clave"
                      />
                    </div>

                    <button
                      class="button-login btn btn-outline-light btn-lg px-5 mt-3"
                      type="submit"
                    >Enviar</button>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </section>

<script src="/js/recupero.js"></script>